.page {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.forms_container {
  display: flex;
  /* gap: 24px; */
  align-items: center;
  border-radius: 8px;
  border: 1px solid #000;
}

.formForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  align-items: center;
  max-width: 250px;
  padding: 12px;
}

.formForm h2,
.formForm p {
  text-align: center;
}

.formContainer>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.formContainer.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.formForm:nth-child(1) {
  border-right: 1px solid #000;
}


.rightBottom {
  height: 100%;
  display: flex;
  align-items: center;
}

.formForm button {
  background-color: #202124;
  color: #fefefe;
  border: 1px solid #202124;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}

.formForm button:hover {
  background-color: #fefefe;
  color: #202124;
  border: 1px solid #202124;
}

.formContainer > div input{
  padding: 8px;
}