.page_container{
    width: calc(100vw - 48px);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.page_container h1{
    text-align: center;
}

.page_container h2{
    color: var(--mainGreenColor);
}